@{
    ViewBag.Title = "المديرية العامة للتدريب والتاهيل";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron glyphicon-alert alert-info" style="margin-bottom:20px;">

    <p style="font-family:Arial; color:black; font-size:20px;">يذكر في هذه الصفحة الهدف الذي تسعى اليه المديرية العامة للتدريب والتاهيل .</p>
    </div>